* {
	margin: 0px;
	padding: 0px;
}

h1 {
	font: bold 20px Tahoma;
	background: -webkit-linear-gradient(right, #660099 19%, #33FF33  60%);
	-webkit-border-radius: 15px;
	-webkit-box-shadow: rgb(110, 110, 110, .8) 10px 8px 8px;
	text-align: center;
}

h2 {
	font: bold 14px Tahoma;
	
}

header , section, footer, aside, nav, article, hgroup {
		display: block;
}

body {
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
}


#bigWrapper {
	border: 1px solid #33FF33;
	max-width: 1000px;
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex:1;
}

#topHead {
	background: blue;
	border: 3px solid black;
	padding: 20px;
}

#topMenu {
	border: 1px solid black;
	background: #33FF33;
	color: blue;
}

#topMenu li {
	display:inline-block;
	list-style:none;
	padding: 12px;
	font: bold 14px Tahoma;
	-webkit-transition:-webkit-transform 3s;
}

#topMenu li:link {color: blue;
	text-decoration: underline;
}

#topMenu li:hover {
	-webkit-transform: rotate(180deg);
	text-decoration: bold;
}
#topMenu li:active {
	-webkit-transform: rotate(1080deg);
	background: -webkit-linear-gradient(left, blue 19%, purple 60%);
}

#flexDiv {
	display: webkit-box;
	-webkit-box-orient: horizontal;
}

#mainSection {
	border: 1px solid blue;
	-webkit-box-flex: 1;
	width: 20px;
	margin: 20px;
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 1000;
}

#sideNews {
	border: 1px solid #33FF33 ;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
	background: #660099;
	-webkit-box-ordinal-group: 1;
	-webkit-box-flex: 1;
}	

#pgFoot {
	text-align:center;
	padding: 20px;
	border-top: 2px solid #33FF33;
}

article {
	background: gray;
	border:1px solid purple;
	padding: 20px;
	margin-bottom: 2px;
}

article > footer {
	text-align: right;
}

#comment {
	color: #33FF33;
	border:1px solid #660099;
	margin-bottom: 15px;
	background: blue;
	width: 390px;
	margin-left: 20px;
}