h1	{ border: 2px solid blue;
		text-align: center;
		color: white;
		background-color: black;
		width: 50%;
		height: 50px;
		top: 10px;
		}
#logo {
		height: 40px;
		width: 40px;
		position: absolute;
		top: 25px;
		left: 12px;	
	}
img {
		max-height: 200px;
		max-width: 200px;
	}
#nav {
		border: 2px solid blue;
		position: fixed;
		top: 60px;
		left:500px;
	}
	
a:link {color: blue;}
a:visited {color: red}
a:hover {color: red;
text-decoration: none;
}
a:active {color: green}